@import url('https://fonts.googleapis.com/css?family=Dosis');

html {
	position: relative;
    min-height: 100%;
    font-family: Dosis
}

html body {
	background-color: white;
	/* background-color: #eaedf2; */
	margin: 0 auto;
	padding: 0;
	height: 100%;
	z-index: 100;
}

header {
	width: 100%;
	height: 80px;
	padding-left: 0px;
	/* padding-right: 150px; */
	/*padding-top:5px; */
	/* padding: 0; */
	background-color: #f77b0e;
	color: white;
}

h1, h3, h4, h5, h6 {
}

h1 {
	display:inline-block;
	margin-left:150px;
	width:250px
}

/* .logo {
	display: inline-block;
	margin-left: 150px;
	width: 300px;
	margin-top: 0;
} */

.menu-div select {
  display: none;
}

#menu-icon {

	display: hidden;
	width: 32px;
	height: 32px;
	padding-top: 5px;
	background: url(../img/menu-icon.png);

}

a:hover#menu-icon {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}



/* @media screen and (max-width: 600px) {
  .menu-div.responsive {position: relative;}
  .menu-div.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menu-div.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */

nav {
	float: right;
	/*overflow: hidden;*/
	height:100%;
}

nav ul {
    list-style: none;
    height:100%;
    margin-top: 0;
}

nav li {
    display: inline-block;
	float: left;
	padding-right: 60px;
	padding-left: 40px;
	padding-top: 30px;
	height: 50px;
	width: 80px;
	margin: auto;
}

nav li:hover {
    background-color: green;
}

nav a {
	margin-top: 0px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center
}

/* @media (max-width: 960px) {
  .menu-div ul     { display: none; }
  .menu-div select { display: inline-block; }
} */

/*MEDIA QUERY*/
@media only screen and (max-width : 890px) and  (min-width : 466px){

	header {

		position: absolute;
		padding-left: 0;
	}

	#menu-icon {

		display:inline-block;
		margin-top:20px;
	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 0px;
		border: 5px solid #444;
		right: 0px;
		top: 40px;
		width: 50%;
		height:auto;
		border-radius: 4px 0 4px 4px;
		margin-top: 15px;
	}

	nav ul {
		background: orange;
		color: black;
	}

	nav:active ul {
		background: green;
		color: white;
	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
}

@media only screen and (max-width : 465px) and (min-width : 0px) {

	h1 {
		margin-left:10px;
	}

	header h1 {
		width:170px;
	}

	#menu-icon {

		display:inline-block;
		margin-top:20px;
	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 0px;
		border: 5px solid #444;
		right: 0px;
		top: 40px;
		width: 50%;
		height:auto;
		border-radius: 4px 0 4px 4px;
		margin-top: 15px;
	}

	nav ul {
		background: orange;
		color: black;
	}

	nav:active ul {
		background: green;
		color: white;
	}

	nav li {

		text-align: center;
		width: 100%;
		height: 10%;
		padding: 10px 0;
		margin: 0;
		font-size: 12px;

	}

	nav:hover ul {

		display: block;

	}

	.signin-container {
		height: 100%;
	}
}

footer {
	width: 100%;
	height: 70px;
	/* padding-left: 150px; */
	padding-top:15px;
	/* padding: 0; */
    /* left: 0; */
    bottom: 0;
	position: absolute;
	/* float: bottom; */
	background-color: #195e21;
	color: white;
	font-size: 9px;
}

table {
	/* background-color:#E5E5E5;*/
	/* width:100%; border: solid #63BBC8 1px;*/
	border-spacing: 0;
    /* border: solid #ccc 1px; */
    /* -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    /* border-radius: 6px; */
}



td {
	padding: 5px;
	border: solid #E5E5E5 1px;
	/* [disabled]font-size:11px; */
	/*color: white; */
	/* background-color: #fff; */
	/*font-family: verdana; */
	/* font-size:11px; */
}


#signup-form {
	border: 5px solid white;
	border-top:5px solid orange;
	border-radius: 5px; 
	height: 300px;
	width: 400px;
	font-size: 15px;
	font-weight: normal;
	border-radius: 10px;
	/* border-collapse: collapse */
}

#signup-form td {
	border: none;
	background-color: white;
	border-color: white;
	height:55px;
}

#signup-form input {
	height:30px;
	width:90%;
	border-radius: 2.5px;
	margin-left: 10px;
	margin-right: 0px;
	border:1px solid #cccccc;
	font-size: 14px;
	padding: 0 8px;
	border-color: #cccccc;
}

#signup-form .submit-btn {
	height: 45px;
	width: 120px;
	background-color: #36d148;
	border: none;
	border-radius: 8px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	font-family: Dosis;
}

#set-menu-table .submit-btn {
	height: 45px;
	width: 120px;
	background-color: #36d148;
	border: none;
	border-radius: 8px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	font-family: Dosis;
}

#main-heading {
	margin-top: 0;
}

#summary-table {
	border: 1px solid #f77b0e;
	border-radius: 10px; 
	/* height: 300px; */
	width: 70%;
	font-size: 16px;
	font-weight: normal;
	border-radius: 3px;
	/* border-collapse: collapse */
}

th {
	color: orange;
	font-size:16px;
	font-weight:bold;
	border-bottom:2px solid #f77b0e;
	/* padding:5px; */
	text-align:left;
	/* font-family: verdana; */
    background-color:#F8F8F8;
    padding: 10px 0px 10px 0px;
    padding-left: 10px;
}

#summary-table td {
	height:50px;
	padding-left: 10px;
	border: 0.1px solid #eaedeb;
	color: #5e605e;
}

#set-menu-table {
	border: 1px solid #f77b0e;
	border-radius: 10px; 
	/* height: 300px; */
	width: 50%;
	font-size: 16px;
	font-weight: normal;
	border-radius: 3px;
	/* border-collapse: collapse */
}

#set-menu-table td {
	height:30px;
	padding-left: 5px;
	border: 0.1px solid #eaedeb;
	color: #5e605e;
}

#date {
	width: 98%;
}

.signup-container {
	width: 100%;
	/* background-image: url("fried_rice_2.jpg"); */
	background-color: #eaedeb;
	background-size: 100%;
}

.signin-container {
	width: 100%;
	height: 604px;
	background-image: url("../img/burgers_4.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.menu-table {
	border: 1px solid #cccccc;
	/* font-family: Arial; */
	/* border-collapse: collapse; */
	border-radius: 5px;
	border-spacing: 15px;
}

.menu-table td {
	width: 25%;
	height: 33.33%;
	border-top: 2px solid orange;
	/* border: 0px solid none; */
	border-radius: 5px;
	box-shadow: 1px 1px 5px #cccccc;
	padding-bottom: 10px	
}

.food-img {
	margin:0;
	padding:0;
	float: top;
	width: 100%;
	height: 80%;
	border-radius: 0px;
	background-color: white;
}

.menu-table img {
	max-width:100%;
	max-height:200%;
	border-radius: 0px
}

.menu-table .order-btn {
	height: 20px;
	width: 100%;
	background-color: orange;
	color: white;
	float: right;
	border-radius: 5px;
	margin: auto;
	padding: 2px 0px 2px 0px;
	font-weight: bold
}

.menu-table .order-btn:hover {
	background-color: #36d148	
}

.edit-btn {
	background-color: #4fa0d6;
	border-color: #4fa0d6;
	width: 60px;
	height: 30px;
	border-radius: 5px;
	color: white;
}

.delete-btn {
	background-color: #ce2f27;
	border-color: #ce2f27;
	width: 60px;
	height: 30px;
	border-radius: 5px;
	color: white;
}

.add-btn {
	background-color: #36d148;
	border-color: #36d148;
	width: 60px;
	height: 30px;
	border-radius: 5px;
	color: white;
}

#set-menu-btn {
	background-color: #f77b0e;
	border-color: #f77b0e;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	color: white;
}

.set-menu-checkbox {
	width:20px;
	height:20px;
}